body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 48px;
}

#navContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  height: 48px;
  max-height: 44px;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

#navContainer ul.desktopNav, #navContainer ul.mobileNav {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

#navContainer ul.desktopNav li, #navContainer ul.mobileNav li {
  display: inline-block;
}

#navContainer ul.desktopNav li a, #navContainer ul.mobileNav li a {
  font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}

#navContainer ul.desktopNav li a:hover, #navContainer ul.mobileNav li a:hover {
  opacity: .65;
}

@media (max-width: 768px) {
  #navContainer ul.desktopNav {
    display: none;
  }
}

@media (min-width: 768px) {
  #navContainer ul.mobileNav {
    display: none;
  }
}
